.venv
.env
__pycache__
*.pyc
instance
migrations
*.sqlite3
.DS_Store
*.log
coverage
htmlcov
pytest_cache
.vscode
.idea
*.egg-info
.envrc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.dist-info
.ipynb_checkpoints
app/uploads/
alembic/versions/
alembic/*.pyc
